<main>
  <h1>List of Students</h1>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Grade</th>
        <th>Gender</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let student of studentList">
        <td>{{ student.name | name : student.gender }}</td>
        <td>{{ student.age }}</td>
        <td>{{ student.grade | lowercase }}</td>
        <td>{{ student.gender | uppercase }}</td>
      </tr>
    </tbody>
  </table>
  <div>
    <h3>Average Mark=</h3>
    <h3>{{ 90.05674 | number : "2.2-4" }}</h3>
  </div>
  <div>
    <h3>Average Percentage=</h3>
    <h3>{{ 0.9 | percent }}</h3>
  </div>
</main>
